@media only screen and (max-width: 1100px) {
  .flex-container {
    background: #e6e6e6;
  }
}
@media only screen and (min-width: 1100px) {
  .flex-container {
    display: flex;
    background: #e6e6e6;
  }
}
h1{
  line-height: 35px;
}

.flex-child {
  flex: 2;
  /* border: 2px solid;*/
  margin: 10px 10px 10px 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 160px;
  border-radius: 20px;
  background: #e6e6e6;
  line-height: 25px;
  font-size: 17px;
}

.flex-child1 {
  flex: 1;
  border: 2px solid;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
  background: #072f5f;
  color: #fff;
  font-size: 12px;
}

/*.flex-child:first-child{
      margin-right: 20px;
      
  }*/
.color_white {
  text-align: justify;
}
.service_list {
  list-style: none;
}

.service_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
}

.service_submit {
  width: 40%;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  padding:14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

/* input[type=submit]:hover {
      background-color: lightblue;
      color: black;
    }*/

.service_label {
  /* position: absolute; */
  margin-top: 20px;
  bottom: 0;
  font-size: 16px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: justify;
  display: block;
  z-index: 9999;
}

.checkbox {
  margin-top: 20px;
  height: 15px !important;
  width: 50px !important;
  accent-color: #072f5f;
  margin-right: 15px;
}

.flex-child input {
  font-size: 15px;
  height: 40px;
  padding: 5px 10px;
  color: #fff;
  border-color: #072f5f;
  border: 1px solid;
  border-radius: 5px;
  text-transform: capitalize;
}
