.Year {
  border-collapse: collapse;
  width: 60%;
  margin: 20px 20px 20px 40px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.income-flex {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.label-flex {
  font-size: 20px;
}
