@media only screen and (max-width: 1100px) {
    .contact_section{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 10px;
        
    }

}
@media only screen and (min-width: 1100px) {
    .contact_section {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        justify-content: space-around;
    }
}


.contact1{
    background: linear-gradient(to right,#BC331C,#878787);
    border : 3px solid white;
    color: #fff;
    padding: 1rem;
    height: 10rem;
    border-radius: 50px 20px;
    border: 2px solid #072f5f;
}

.contact{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

i{
    font-size: 20px;
}

.contact2{
    border : 3px solid white;
    color: black;
    padding: 1rem;
    height: 30rem;
    border-radius: 1px
}

 .para{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
button.contact_form_submit {
    background: linear-gradient(to top right, #1325e8 -5%, #072f5f 100%);
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 50%;
    margin-top: 25px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 2px;
}
.form-control{
    width: 100%;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-top: 30px;
    padding-left: 20px;
}
 .form-control:focus{
    box-shadow: none;
    outline: none;
}
.form-control::placeholder{
    font-size: 15px;
    letter-spacing: 1px;
    
}


