/*Header*/
@media only screen and (max-width: 1100px) {
  .navbar_text_mobile {
    border-bottom: solid 1px;
    width: 100%;
  }
  .header_section {
    width: 90%;
  }
  .navbar_icon {
    margin-left: auto;
  }
  .hide_mobile {
    display: none;
  }
}
@media only screen and (min-width: 1100px) {
  .header_section {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .navbar_icon {
    display: none;
  }
  .dropdown {
    z-index: 100;
    position: absolute;
    background-color: #003d80;
    top: 35px;
    left: 0px;
    padding-right: 30px;
  }
}

.down_header_2 {
  background-color: #072f5f;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 30px 10px 30px;
  min-width: 300px;
  position: relative;
}

.outer_flex {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

.navbar_text {
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.navbar_link {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}
.icon {
  position: relative;
  top: 3px;
}
.dropdown_list {
  list-style: none;
  padding-left: 15px;
}
