/*Header*/
@media only screen and (min-width:1100px) {
    
}
@media only screen and (min-width:1100px ){
    .header_section
    {
        display: flex;
        justify-content: space-between;
        width: 80%;

    }
    .navbar_icon {
        display: none;
    }
}


.topheader
{
    background-color:#072F5F;
    color: #fff;
    font-Weight:400;
    font-Size:15px;
    padding:10px 30px 10px 30px;
    min-width: 300px;
    position: relative;
    height: 20px;
}
.whatsapp{
    color: #fff;
}

.midheader
{
    background-color:#fff;
    font-Weight:400;
    font-Size:15px;
    padding:10px 30px 10px 30px;
    min-width: 300px;
    position: relative;
    height: 100px;
}

.down_header_2
{
    background-color:#072F5F;
    color:#fff;
    font-Weight:400;
    font-Size:15px;
    padding:10px 30px 10px 30px;
    min-width: 300px;
    position: relative;
}


.outer_flex {
    display:flex;
    justify-content: space-between;
}

.smooth_hide {
    display: none;
    transition: height 2s;
}



.navbar_text {
    white-space: nowrap;
    margin-left:10px;
    margin-right: 10px;
}

.dropdown_content{
    color:#fff;
    font-Weight:400;
    font-Size:15px;
    padding:10px 30px 10px 30px;
    min-width: 300px;
}

.navbar_link {
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}
.dropdown_item{
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

.dropdown{
    z-index: 100;
    position: absolute;
    background-color: #003d80;
    top: 7vh;
    left: 100px;
    padding: 10px;
}
.icon{
   position: relative;
   top:3px;
}