.flex-container{
  flex : 1;
}
.flex-item-left{
  float: left;
  margin-top: 20px;
  font-weight: 700;
  font-size: 30px;
  color: #072f5f;
  padding: 10px 10px 10px 10px;
}
.admin-container{
  display: flex;
}

.admin-item-left{
  width : 40%;
  height: 300px;
  float: left;
  border: 2px solid #e6e6e6;
}

.admin-item-right{
  width : 60%;
  height: 300px;
  float:right;
  border: 2px solid #e6e6e6;
}
.admin-item1{
  width: 28%;
  height: 250px;
  padding-left: 20px;
  margin: 5px 5px 5px 5px;
  float: left;
  border: 2px solid #e6e6e6;
}

.admin-item2{
  width: 60%;
  height: 250px;
  margin: 5px 5px 5px 5px;
  float: right;
  border-radius: 4px;
  padding-top: 16px;
  padding-left: 10px;
  border: 2px solid #e6e6e6;
}

.admin-item3{
  width: 20%;
  height: 280px;
  padding-left: 20px;
  margin: 5px 5px 5px 5px;
  float: left;
  border: 2px solid #e6e6e6;
}


.admin-item4{
  width: 72%;
  height: 250px;
  margin: 5px 5px 5px 5px;
  float: right;
  border-radius: 4px;
  padding-top: 16px;
  padding-left: 10px;
  border: 2px solid #e6e6e6;
}

.admin-text:focus{
  border: 2px solid #000;
  border-radius: 3px;
}

.admin-address:focus{
  border: 2px solid #000;
  border-radius: 3px;
}

.admin-text {
  width: 90%;
  height: 20px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background-color: #e6e6e6;
  border: 2px solid #000;
  border-radius: 3px;
}

.admin-address{
  width: 90%;
  height: 80px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background-color: #e6e6e6;
  border: 2px solid #000;
  border-radius: 3px;
}
.admin1-address{
  font-size: 20px;
  font-weight: 700;

}
.admin1-text{
  padding-top: 5px;
}

.admin-text4 {
  width: 50%;
  height: 20px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background-color: #e6e6e6;
  border: 2px solid #000;
  border-radius: 3px;
}

.admin-address4{
  width: 50%;
  height: 80px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background-color: #e6e6e6;
  border: 2px solid #000;
  border-radius: 3px;
}
.button-upload{
  width: 80px;
  height: 30px; 
  margin-left: 5px;
  border-radius: 10px;
  background-color: #072f5f;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.upload-file{
  width: 100px;
  height: 20px; 
  margin-left: 5px;
}
.upload-icon{
  font-size: 30px;
  padding-left: 10px;
  
}
.dropdown{
  width: 50%;
  height: 30px;
  border: 2px solid #000;
}